<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Manager Bean -->
    <bean id="mng" class="com.nit.Manager" />

    <!-- Employee Bean with Setter Injection -->
    <bean id="emp" class="com.nit.Employee">
        <property name="manager" ref="mng" />
    </bean>

</beans>
